/* Style for body, header, nav, and logo */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #241111;
    color: white;
    padding: 10px 20px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    padding-left: 15px;
}

/* Style for navigation links */
.nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    padding: 5px 10px;
}

.nav-links a:hover {
    background-color: chocolate;
    border-radius: 5px;
}

.nav-links a.active {
    background-color: chocolate;
}
    background-color: transparent;
    border: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
}

/* Style for main content */
main {
    flex: 1;
    font-size: 2.5em;
    opacity: 0;
    animation: fadeIn 5s forwards;
    border: 5px solid white;
}

/* Style for footer */
footer {
    background-color: #241111;
    color: white;
    text-align: center;
    padding: 3px 20px;
}




/* Media query for small screens */
@media (max-width: 768px) {
    .nav-links {
        flex-direction: column;
        background-color: #241111;
        padding: 10px;
        position: absolute;
    }

    .nav-links li {
        margin: 10px 0;
    }

    .nav-links a {
        color: white;
        text-decoration: none;
        padding: 5px 0;
        display: block;
    }

    .nav-links a.active {
        background-color: chocolate;
    }

    .toggle-button {
    }
}
