/* Style for body, header, nav, and logo */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: url('/img/Background.jpg');
    background-size: cover;
    background-position: center;
}

header {
    background-color: #241111;
    color: white;
    padding: 10px 20px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    padding-left: 15px;
}

/* Style for navigation links */
.nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    padding: 5px 10px;
}

.nav-links a:hover {
    background-color: chocolate;
    border-radius: 5px;
}

.nav-links a.active {
    background-color: chocolate;
}
/* Style for toggle button */
.toggle-button {
    display: none; /* Hide the toggle button by default */
    background-color: transparent;
    border: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
}

/* Style for main content */
main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

/* Keyframes for fadeIn animation */
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* Style for welcome text */
.welcome-text {
    font-size: 2.5em;
    opacity: 0;
    animation: fadeIn 5s forwards;
    border: 5px solid white;
    padding: 10px 20px;
}

/* Style for footer */
footer {
    background-color: #241111;
    color: white;
    text-align: center;
    padding: 3px 20px;
}

/* Media query for small screens */
@media (max-width: 768px) {
    .nav-links {
        flex-direction: column;
        background-color: #241111;
        padding: 10px;
        position: absolute;
        top: 60px; /* Adjust according to header height */
        left: 0;
        right: 0;
        display: none; /* Hide navigation links by default on small screens */
    }

    .nav-links.open {
        display: flex; /* Show navigation links when toggle button is clicked */
    }

    .nav-links li {
        margin: 10px 0;
    }

    .nav-links a {
        color: white;
        text-decoration: none;
        padding: 5px 0;
        display: block;
    }

    .nav-links a.active {
        background-color: chocolate;
    }

    .toggle-button {
        display: block; /* Show the toggle button on small screens */
    }
}
