<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kebudayaan Banten</title>
    <link rel="stylesheet" href="../style/eksplorasi.css">
</head>
<body>
    <navbar-eksplorasi></navbar-eksplorasi>
    <main>
       <article class="content">
        <section class="judul-content">
            <h1>Provinsi Banten</h1>
            <p>Banten adalah sebuah provinsi di Indonesia yang terletak pada bagian paling barat Pulau Jawa dengan ibu kota di Kota Serang. Sebelum terjadi pemekaran daerah, provinsi ini sebelumnya pernah menjadi bagian dari wilayah Jawa Barat yang kemudian resmi dimekarkan pada tanggal 4 Oktober 2000. Provinsi Banten memiliki wilayah laut yang menjadi salah satu jalur laut strategis yaitu Selat Sunda. Dengan menggunakan kapal-kapal berukuran besar, Selat Sunda menjadi jalur penghubung antara Australia dan Selandia Baru dengan kawasan Asia Tenggara, khususnya Thailand, Malaysia, dan Singapura. Selain itu, wilayah laut Banten adalah jalur penghubung antara Jawa dan Sumatra <a href="https://id.wikipedia.org/wiki/Banten">kunjungi untuk detailnya</a></p>
        </section>
        <section class="grid">
            <div class="grid-item">
                <h2>Adat Istiadat</h2>
                <img id="adat-img" src="../../asset/img-banten/ngawalu.jfif" alt="adat banten">
                <h3 id="adat-title">1. Upacara Ngawalu</h3>
                <p id="adat-desc">Upacara adat pernikahan di Banten melibatkan tradisi seperti ngidih (mengajukan lamaran), ngarep surung (pertemuan kedua belah pihak), serangkaian ritual adat (sajen, siraman, sungkeman), akad nikah, resepsi pernikahan, dan mappaci (berbagi makanan kepada tetangga). Tradisi ini kaya akan nilai-nilai kearifan lokal dan turun-temurun.</p>
                <div class="button-container">
                    <button onclick="prevAdat()">&#9664;</button>
                    <button onclick="nextAdat()">&#9654;</button>
                </div>
            </div>
            <div class="grid-item">
                <h2>Seni</h2>
                <img id="seni-img" src="/asset/img-banten/debu.jfif" alt="seni banten">
                <h3 id="seni-title">1. Debus Surosowan</h3>
                <p id="seni-desc">Debus Surosowan menjadi salah satu kesenian yang paling populer dari Banten. Bukan hanya di kalangan masyarakatnya saja, namun kesenian yang satu ini bahkan dikenal hingga seluruh nusantara. Debus merupakan atraksi yang dilakukan dengan menggunakan benda tajam, seperti: golok, paku, air keras, dan yang lainnya. </p>
                <div class="button-container">
                    <button onclick="prevSeni()">&#9664;</button>
                    <button onclick="nextSeni()">&#9654;</button>
                </div>
            </div>
            <div class="grid-item">
                <h2>Tradisi</h2>
                <img id="tradisi-img" src="../../asset/img-banten/ngariung.jfif" alt="tradisi banten">
                <h3 id="tradisi-title">1. Ngariung</h3>
        <p id="tradisi-desc">Tradisi ini merupakan salah satu tradisi warga Banten yang berisikan kegiatan untuk memanjatkan doa, shalawat, dan mengaji ayat-ayat suci Al-Qur’an secara bersama-sama. Ngariung biasanya digelar untuk memperingati momen-momen spesial, seperti kelahiran bayi, akikah, dan acara syukuran lainnya.</p>
                <div class="button-container">
                    <button onclick="prevTradisi()">&#9664;</button>
                    <button onclick="nextTradisi()">&#9654;</button>
                </div>
            </div>
            <div class="grid-item">
                <h2>Bahasa</h2>
                <h3 id="bahasa-title">1. Bahasa Sunda Banten</h3>
                <p id="bahasa-desc">Bahasa Sunda adalah bahasa daerah yang paling banyak digunakan di Banten. Bahasa ini dituturkan oleh sekitar 80% penduduk Banten. Bahasa Sunda banyak digunakan masyarakat di wilayah Kabupaten Lebak, Pandeglang, sebagian masyarakat Kabupaten/Kota Serang, dan sebagian masyarakat di Kabupaten Tangerang.</p>
                <div class="button-container">
                    <button onclick="prevBahasa()">&#9664;</button>
                    <button onclick="nextBahasa()">&#9654;</button>
                </div>
            </div>
            <div class="grid-item">
                <h2>Nilai-Nilai Budaya</h2>
                <h3 id="nilai-budaya-title">1. Kebersamaan</h3>
                <p id="nilai-budaya-desc">Masyarakat Banten dikenal sangat menjunjung tinggi nilai kebersamaan dan gotong-royong dalam kehidupan sehari-hari.</p>
                <div class="button-container">
                    <button onclick="prevNilaiBudaya()">&#9664;</button>
                    <button onclick="nextNilaiBudaya()">&#9654;</button>
                </div>
            </div>
        </section>
        <section class="video-container">
            <h2>Video tentang Kebudayaan Banten</h2>
            <iframe width="560" height="415" src="https://www.youtube.com/embed/l73jj4HHT_w?si=p60pNXhj51gqWRMe" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </section>
       </article>
    </main>
    <footer-eksplorasi></footer-eksplorasi>
    <script type="module" src="../scripts/scripts.js"></script>
    <script src="../scripts/banten.js"></script>
</body>
</html>