<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kebudayaan DKI Jakarta</title>
    <link rel="stylesheet" href="../style/eksplorasi.css">
</head>
<body>
    <navbar-eksplorasi></navbar-eksplorasi>
    <main>
        <article class="content">
            <section class="judul-content">
            </section>
            <section class="grid">
                <div class="grid-item">
                    <h2>Adat Istiadat</h2>
                    <img id="adat-img" src="../../asset/img-jakarta/bikin-rume.jfif" alt="adat Jakarta">
                    <h3 id="adat-title">1. Bikin Rume</h3>
                    <p id="adat-desc">Ritual ini dilakukan sebelum membangun rumah untuk menentukan tata letak rumah sesuai dengan feng shui.</p>
                    <div class="button-container">
                        <button onclick="prevAdat()">&#9664;</button>
                        <button onclick="nextAdat()">&#9654;</button>
                    </div>
                </div>
                <div class="grid-item">
                    <h2>Tradisi</h2>
                    <div class="button-container">
                        <button onclick="prevTradisi()">&#9664;</button>
                        <button onclick="nextTradisi()">&#9654;</button>
                    </div>
                </div>
                <div class="grid-item">
                    <h2>Seni</h2>
                    <img src="../../asset/img-jakarta/seni-sastra.jpg" id="seni-img" alt="seni sastra">
                    <h3 id="seni-title">1. Seni Sastra</h3>
                    <p id="seni-desc">
                        Sastra Betawi adalah sebuah karya sastra berupa tulisan, yang menggunakan bahasa Betawi. Karya sastra Betawi adalah kesenian yang dibuat dan disampaikan juga oleh orang Betawi. Penyampaian dari kesenian Betawi ini juga disampaikan dalam bahasa Betawi.
                    </p>
                    <div class="button-container">
                        <button onclick="prevSeni()">&#9664;</button>
                        <button onclick="nextSeni()">&#9654;</button>
                    </div>
                </div>
                <div class="grid-item">
                    <h2>Bahasa</h2>
                    <h3>Bahasa Betawi</h3>
                    <p>Bahasa Betawi (basé Betawi, basa Betawi; dikenal juga sebagai bahasa Melayu Betawi) adalah bahasa kreol yang dituturkan oleh suku Betawi yang mendiami daerah Jakarta dan sekitarnya. Bahasa ini merupakan bahasa Melayu Pasar yang bercampur dengan bahasa asing, seperti; Belanda, Portugis, Arab, Persia, Hokkien, dan juga bahasa pribumi Indonesia seperti Sunda, Jawa, dan Bali; imbas para imigran dan pekerja multietnis yang didatangkan dari berbagai tempat ke Batavia oleh VOC pada abad ke-16 hingga abad ke-18, serta perdagangan dan pertukaran yang terjadi sejak ratusan tahun di bandar besar Sunda Kalapa."
                    </p>
                </div>
                <div class="grid-item">
                    <h2>Nilai-Nilai Budaya</h2>
                    <h3 id="nilai-budaya-title">1. Gotong Royong</h3>
                    <p id="nilai-budaya-desc">Budaya gotong royong sangat kuat dalam masyarakat Betawi. Mereka selalu saling membantu dalam berbagai kegiatan, seperti membangun rumah atau mengadakan acara.

                    </p>
                    <div class="button-container">
                        <button onclick="prevNilaiBudaya()">&#9664;</button>
                        <button onclick="nextNilaiBudaya()">&#9654;</button>
                    </div>
                </div>
            </section>
            <section class="video-container">
                <h2>Video tentang Kebudayaan DKI Jakarta</h2>
            </section>
        </article>
    </main>
    <footer-eksplorasi></footer-eksplorasi>
    <script type="module" src="../scripts/scripts.js"></script>
    <script src="../scripts/dkijakarta.js"></script>
</body>
</html>
